html, body {
    margin:0;
    padding:0;
}

.section-a {
    width: 100%;
    height: calc(100vh - 80px); /* half of viewport height */
    /* background image for the section */
}

.section-a .left-content {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    background:url("../images/house.jpg");
    background-size:cover;
    background-position:center;
}

.section-a .right-content {
    width: 50%;
    height: 100%;
    float: right;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:arial;
}

.section-a .right-content p {
    width:450px;
    text-align:center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.section-b {
    width: 100%;
    height: 100vh; /* half of viewport height */
    display:flex;
}

.section-b .left-content {
    width: 50vw;
    height: 100%;
    float: left;
      display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:arial;
}

.section-b .right-content {
    width: 50vw;
    height: 100%;
    float: right;
    background:url("../images/house.jpg");
    background-size:cover;
    background-position:center;
    

}
.section-b .left-content p {
    width:450px;
    text-align:center;
    margin: 0;
    font-family: Arial, sans-serif;
}


footer {
    background:#000;
    color:#fff;
    width:100%;
    height:50px;
    text-align:center;
    font-family:arial;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .section-a {
        flex-direction:column;
        height:auto;
    }

    .section-a .left-content  {
        width:100%;
        height:30vh;

    }


    .section-a .right-content {
        width:100%;
        height:auto;
        padding: 30px 0;
        float:none;

    }

    .section-a .right-content p {
        width:80%;
    }



    .section-b {
        flex-direction:column;
        height:auto;
        display:none;
    }

    .section-b .right-content {
        width:100%;
        height:30vh;
    }

    .section-b .left-content {
        width:100%;
        height:auto;
        padding: 30px 0;
        float:none;
    }

}