html,body {
    margin: 0;
    padding:0;
}

header {
    margin: 0;
    height: 80px;
    padding: 0;
    top: 0;
    width:100%;
    display: flex; /* make header a flex container so children can stretch to its height */
    align-items: stretch; /* allow children to fill the header's cross-axis (height) */
}

.menu-container { 
    width:100%;
}

.logo {
    width:60%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: left;
    float:left;
}

.logo img {
    height: 100%;
    cursor:pointer;
    margin-left:50px;
}


.navigation {
    height: 100% !important;
    display: flex;
    width:40%;
    align-items: center; /* vertical centering of nav content */
    justify-content: center; /* align nav content to the right edge */
    align-self: stretch; /* ensure this flex item fills the header height */
    margin-left: auto; /* x`push navigation to the far right of the header */
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* lay out list items in a row */
    align-items: center;
    gap: 10px; /* space between items */
}

.navigation ul li {
    padding: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family:Arial;
    text-transform:uppercase;
}

.section-a {
    width: 100%;
    height: calc(100vh - 80px); /* half of viewport height */
    /* background image for the section */
}

.section-a .left-content {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-a .right-content {
    width: 50%;
    height: 100%;
    float: right;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:arial;
}

.section-a .right-content p {
    width:450px;
    text-align:center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.data {
    display:flex;
}


.data p {
    width:350px !important;
    text-align:left !important;
    padding-left:20px;
}

footer {
    background:#000;
    color:#fff;
    width:100%;
    height:50px;
    text-align:center;
    font-family:arial;
    display:flex;
    align-items: center;
    justify-content: center;
}