html,body {
    margin: 0;
    padding:0;
}

.section-a {
    width: 100%;
    height: calc(100vh - 80px); /* half of viewport height */
    /* background image for the section */
}

.section-a .left-content {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-a .right-content {
    width: 50%;
    height: 100%;
    float: right;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:arial;
}

.section-a .right-content p {
    width:450px;
    text-align:center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.data {
    display:flex;
}


.data p {
    width:350px !important;
    text-align:left !important;
    padding-left:20px;
}

footer {
    background:#000;
    color:#fff;
    width:100%;
    height:50px;
    text-align:center;
    font-family:arial;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .section-a {
        flex-direction:column;
        height:auto;
    }

    .section-a .left-content {
        width:100%;
        height:50vh;
    }

    .section-a .left-content iframe {
        width:85%;
        height:85%;
    }

    .section-a .right-content {
        width:100%;
        padding:20px 0;
        display:flex;
        align-items: center;
    }

    .section-a .right-content .data {
        width:230px;
    }
}